<!DOCTYPE html>
<html lang="en">
<head th:insert="fragment.html :: headerfiles">
<meta charset="ISO-8859-1">
<title>Movie Form</title>
</head>
<body>
	<header>
		<div class="row">
			<div class="col-md-4">
				<nav th:replace="fragment.html::brand"></nav>
				<nav th:replace="fragment.html::listNav"></nav>
			</div>
			<div class="col-md-8">
				<nav th:replace="fragment.html::topNav"></nav>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Title</th>
							<th scope="col">Description</th>
							<th scope="col">Featured Image</th>
							<th scope="col">Film</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="movie : ${movies}">
							<td  th:text="${movie.title}"></td>
							<td th:text="${movie.description}"></td>
							<td><img th:src="@{'/images/'+${movie.thumbnail}}"/></td>
							<td><video controls><source th:src="@{'/videos/'+${movie.video}}" type="video/mp4"></source></video></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</header>
</body>
</html>