<!DOCTYPE html>
<html xmlns:th="htpp://www.thymeleaf.org">
<head th:insert="fragment.html :: headerfiles">
<meta charset="ISO-8859-1">
<title>Add Category</title>
</head>
<body>
	<header>
		<div class="row">
			<div class="col-md-4">
				<nav th:replace="fragment.html::brand"></nav>
				<nav th:replace="fragment.html::listNav"></nav>
			</div>
			<div class="col-md-8">
			<nav th:replace="fragment.html::topNav"></nav>
				<form th:action="@{/category/addCategory}" th:object="${category}" method="post">
					<div class="form-group">
						<label for="categoryName">Category Name</label> <input
							type="text" class="form-control" id="" th:field="*{name}">
					</div>
					<button type="submit" class="btn btn-primary">Add Category</button>
				</form>
			</div>
		</div>
	</header>
</body>
</html>